<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591117061702-6ipueboftubk6r8vpe2avj9fbiq4819j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591117061702-6ipueboftubk6r8vpe2avj9fbiq4819j</string>
	<key>API_KEY</key>
	<string>AIzaSyB4TSjNdPbXaWUvYv-bsT5L5NNSd25HfyI</string>
	<key>GCM_SENDER_ID</key>
	<string>591117061702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoC8Friday</string>
	<key>PROJECT_ID</key>
	<string>todo-c8-friday</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c8-friday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591117061702:ios:cf50ca8d4f9f12dd500447</string>
</dict>
</plist>